<div class="example">
    <div class="example__text" slimScroll>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores at
        atque beatae
        consectetur distinctio doloribus ducimus earum expedita facere fugiat incidunt iure, labore, maxime
        necessitatibus neque nihil nostrum odit quas quis recusandae rem sunt ut voluptatem voluptates. A at dicta eaque
        excepturi nesciunt provident qui, reiciendis. Ab accusantium, debitis, delectus impedit laboriosam maxime minima
        necessitatibus qui quibusdam repellat rerum saepe sapiente. Quibusdam, sequi vero. Aperiam, assumenda cumque
        debitis dolore earum fugiat id, iste, iure nostrum porro provident quaerat quas quibusdam quod repellendus
        reprehenderit sequi temporibus unde? Itaque mollitia, voluptatem! Aut cum eum fugit hic id maiores maxime nobis
        ratione suscipit veniam. Adipisci aliquid amet, asperiores atque cumque delectus deleniti earum eligendi eos
        error, expedita explicabo iste laborum laudantium magni minus modi nihil officiis perspiciatis quaerat, quis
        soluta ut voluptatibus? Error et facere molestiae, nesciunt provident quis recusandae sequi sint vitae
        voluptatum. Ad aliquid aut cupiditate dignissimos doloremque id, impedit, ipsa minus molestias, nam nemo odio
        porro rerum sed vel voluptate voluptates voluptatum. Adipisci alias animi consequatur consequuntur dolor dolore
        dolores, dolorum explicabo id impedit labore maxime modi, non quis, recusandae saepe tempora tempore totam.
        Dolorum earum enim expedita, inventore laboriosam minus quidem recusandae sapiente totam unde. Deleniti,
        explicabo, iste!
    </div>
    <pre><code>default</code></pre>
</div>
<div class="example">
    <div class="example__text" slimScroll width="100px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet
        asperiores at atque beatae
        consectetur distinctio doloribus ducimus earum expedita facere fugiat incidunt iure, labore, maxime
        necessitatibus neque nihil nostrum odit quas quis recusandae rem sunt ut voluptatem voluptates. A at dicta eaque
        excepturi nesciunt provident qui, reiciendis. Ab accusantium, debitis, delectus impedit laboriosam maxime minima
        necessitatibus qui quibusdam repellat rerum saepe sapiente. Quibusdam, sequi vero. Aperiam, assumenda cumque
        debitis dolore earum fugiat id, iste, iure nostrum porro provident quaerat quas quibusdam quod repellendus
        reprehenderit sequi temporibus unde? Itaque mollitia, voluptatem! Aut cum eum fugit hic id maiores maxime nobis
        ratione suscipit veniam. Adipisci aliquid amet, asperiores atque cumque delectus deleniti earum eligendi eos
        error, expedita explicabo iste laborum laudantium magni minus modi nihil officiis perspiciatis quaerat, quis
        soluta ut voluptatibus? Error et facere molestiae, nesciunt provident quis recusandae sequi sint vitae
        voluptatum. Ad aliquid aut cupiditate dignissimos doloremque id, impedit, ipsa minus molestias, nam nemo odio
        porro rerum sed vel voluptate voluptates voluptatum. Adipisci alias animi consequatur consequuntur dolor dolore
        dolores, dolorum explicabo id impedit labore maxime modi, non quis, recusandae saepe tempora tempore totam.
        Dolorum earum enim expedita, inventore laboriosam minus quidem recusandae sapiente totam unde. Deleniti,
        explicabo, iste!
    </div>
    <pre><code>width="100px"</code></pre>
</div>
<div class="example">
    <div class="example__text" slimScroll height="100px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet
        asperiores at atque beatae
        consectetur distinctio doloribus ducimus earum expedita facere fugiat incidunt iure, labore, maxime
        necessitatibus neque nihil nostrum odit quas quis recusandae rem sunt ut voluptatem voluptates. A at dicta eaque
        excepturi nesciunt provident qui, reiciendis. Ab accusantium, debitis, delectus impedit laboriosam maxime minima
        necessitatibus qui quibusdam repellat rerum saepe sapiente. Quibusdam, sequi vero. Aperiam, assumenda cumque
        debitis dolore earum fugiat id, iste, iure nostrum porro provident quaerat quas quibusdam quod repellendus
        reprehenderit sequi temporibus unde? Itaque mollitia, voluptatem! Aut cum eum fugit hic id maiores maxime nobis
        ratione suscipit veniam. Adipisci aliquid amet, asperiores atque cumque delectus deleniti earum eligendi eos
        error, expedita explicabo iste laborum laudantium magni minus modi nihil officiis perspiciatis quaerat, quis
        soluta ut voluptatibus? Error et facere molestiae, nesciunt provident quis recusandae sequi sint vitae
        voluptatum. Ad aliquid aut cupiditate dignissimos doloremque id, impedit, ipsa minus molestias, nam nemo odio
        porro rerum sed vel voluptate voluptates voluptatum. Adipisci alias animi consequatur consequuntur dolor dolore
        dolores, dolorum explicabo id impedit labore maxime modi, non quis, recusandae saepe tempora tempore totam.
        Dolorum earum enim expedita, inventore laboriosam minus quidem recusandae sapiente totam unde. Deleniti,
        explicabo, iste!
    </div>
    <pre><code>height="100px"</code></pre>
</div>
<div class="example">
    <div class="example__text" slimScroll size="20px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet
        asperiores at atque beatae
        consectetur distinctio doloribus ducimus earum expedita facere fugiat incidunt iure, labore, maxime
        necessitatibus neque nihil nostrum odit quas quis recusandae rem sunt ut voluptatem voluptates. A at dicta eaque
        excepturi nesciunt provident qui, reiciendis. Ab accusantium, debitis, delectus impedit laboriosam maxime minima
        necessitatibus qui quibusdam repellat rerum saepe sapiente. Quibusdam, sequi vero. Aperiam, assumenda cumque
        debitis dolore earum fugiat id, iste, iure nostrum porro provident quaerat quas quibusdam quod repellendus
        reprehenderit sequi temporibus unde? Itaque mollitia, voluptatem! Aut cum eum fugit hic id maiores maxime nobis
        ratione suscipit veniam. Adipisci aliquid amet, asperiores atque cumque delectus deleniti earum eligendi eos
        error, expedita explicabo iste laborum laudantium magni minus modi nihil officiis perspiciatis quaerat, quis
        soluta ut voluptatibus? Error et facere molestiae, nesciunt provident quis recusandae sequi sint vitae
        voluptatum. Ad aliquid aut cupiditate dignissimos doloremque id, impedit, ipsa minus molestias, nam nemo odio
        porro rerum sed vel voluptate voluptates voluptatum. Adipisci alias animi consequatur consequuntur dolor dolore
        dolores, dolorum explicabo id impedit labore maxime modi, non quis, recusandae saepe tempora tempore totam.
        Dolorum earum enim expedita, inventore laboriosam minus quidem recusandae sapiente totam unde. Deleniti,
        explicabo, iste!
    </div>
    <pre><code>size="20px"</code></pre>
</div>
<div class="example">
    <div class="example__text" slimScroll color="red">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet
        asperiores at atque beatae
        consectetur distinctio doloribus ducimus earum expedita facere fugiat incidunt iure, labore, maxime
        necessitatibus neque nihil nostrum odit quas quis recusandae rem sunt ut voluptatem voluptates. A at dicta eaque
        excepturi nesciunt provident qui, reiciendis. Ab accusantium, debitis, delectus impedit laboriosam maxime minima
        necessitatibus qui quibusdam repellat rerum saepe sapiente. Quibusdam, sequi vero. Aperiam, assumenda cumque
        debitis dolore earum fugiat id, iste, iure nostrum porro provident quaerat quas quibusdam quod repellendus
        reprehenderit sequi temporibus unde? Itaque mollitia, voluptatem! Aut cum eum fugit hic id maiores maxime nobis
        ratione suscipit veniam. Adipisci aliquid amet, asperiores atque cumque delectus deleniti earum eligendi eos
        error, expedita explicabo iste laborum laudantium magni minus modi nihil officiis perspiciatis quaerat, quis
        soluta ut voluptatibus? Error et facere molestiae, nesciunt provident quis recusandae sequi sint vitae
        voluptatum. Ad aliquid aut cupiditate dignissimos doloremque id, impedit, ipsa minus molestias, nam nemo odio
        porro rerum sed vel voluptate voluptates voluptatum. Adipisci alias animi consequatur consequuntur dolor dolore
        dolores, dolorum explicabo id impedit labore maxime modi, non quis, recusandae saepe tempora tempore totam.
        Dolorum earum enim expedita, inventore laboriosam minus quidem recusandae sapiente totam unde. Deleniti,
        explicabo, iste!
    </div>
    <pre><code>color="red"</code></pre>
</div>
<div class="example">
    <div class="example__text" slimScroll position="left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet
        asperiores at atque beatae
        consectetur distinctio doloribus ducimus earum expedita facere fugiat incidunt iure, labore, maxime
        necessitatibus neque nihil nostrum odit quas quis recusandae rem sunt ut voluptatem voluptates. A at dicta eaque
        excepturi nesciunt provident qui, reiciendis. Ab accusantium, debitis, delectus impedit laboriosam maxime minima
        necessitatibus qui quibusdam repellat rerum saepe sapiente. Quibusdam, sequi vero. Aperiam, assumenda cumque
        debitis dolore earum fugiat id, iste, iure nostrum porro provident quaerat quas quibusdam quod repellendus
        reprehenderit sequi temporibus unde? Itaque mollitia, voluptatem! Aut cum eum fugit hic id maiores maxime nobis
        ratione suscipit veniam. Adipisci aliquid amet, asperiores atque cumque delectus deleniti earum eligendi eos
        error, expedita explicabo iste laborum laudantium magni minus modi nihil officiis perspiciatis quaerat, quis
        soluta ut voluptatibus? Error et facere molestiae, nesciunt provident quis recusandae sequi sint vitae
        voluptatum. Ad aliquid aut cupiditate dignissimos doloremque id, impedit, ipsa minus molestias, nam nemo odio
        porro rerum sed vel voluptate voluptates voluptatum. Adipisci alias animi consequatur consequuntur dolor dolore
        dolores, dolorum explicabo id impedit labore maxime modi, non quis, recusandae saepe tempora tempore totam.
        Dolorum earum enim expedita, inventore laboriosam minus quidem recusandae sapiente totam unde. Deleniti,
        explicabo, iste!
    </div>
    <pre><code>position="left"</code></pre>
</div>
<div class="example">
    <div class="example__text" slimScroll distance="20px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet
        asperiores at atque beatae
        consectetur distinctio doloribus ducimus earum expedita facere fugiat incidunt iure, labore, maxime
        necessitatibus neque nihil nostrum odit quas quis recusandae rem sunt ut voluptatem voluptates. A at dicta eaque
        excepturi nesciunt provident qui, reiciendis. Ab accusantium, debitis, delectus impedit laboriosam maxime minima
        necessitatibus qui quibusdam repellat rerum saepe sapiente. Quibusdam, sequi vero. Aperiam, assumenda cumque
        debitis dolore earum fugiat id, iste, iure nostrum porro provident quaerat quas quibusdam quod repellendus
        reprehenderit sequi temporibus unde? Itaque mollitia, voluptatem! Aut cum eum fugit hic id maiores maxime nobis
        ratione suscipit veniam. Adipisci aliquid amet, asperiores atque cumque delectus deleniti earum eligendi eos
        error, expedita explicabo iste laborum laudantium magni minus modi nihil officiis perspiciatis quaerat, quis
        soluta ut voluptatibus? Error et facere molestiae, nesciunt provident quis recusandae sequi sint vitae
        voluptatum. Ad aliquid aut cupiditate dignissimos doloremque id, impedit, ipsa minus molestias, nam nemo odio
        porro rerum sed vel voluptate voluptates voluptatum. Adipisci alias animi consequatur consequuntur dolor dolore
        dolores, dolorum explicabo id impedit labore maxime modi, non quis, recusandae saepe tempora tempore totam.
        Dolorum earum enim expedita, inventore laboriosam minus quidem recusandae sapiente totam unde. Deleniti,
        explicabo, iste!
    </div>
    <pre><code>distance="20px"</code></pre>
</div>
<div class="example">
    <div class="example__text" slimScroll start="bottom">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet
        asperiores at atque beatae
        consectetur distinctio doloribus ducimus earum expedita facere fugiat incidunt iure, labore, maxime
        necessitatibus neque nihil nostrum odit quas quis recusandae rem sunt ut voluptatem voluptates. A at dicta eaque
        excepturi nesciunt provident qui, reiciendis. Ab accusantium, debitis, delectus impedit laboriosam maxime minima
        necessitatibus qui quibusdam repellat rerum saepe sapiente. Quibusdam, sequi vero. Aperiam, assumenda cumque
        debitis dolore earum fugiat id, iste, iure nostrum porro provident quaerat quas quibusdam quod repellendus
        reprehenderit sequi temporibus unde? Itaque mollitia, voluptatem! Aut cum eum fugit hic id maiores maxime nobis
        ratione suscipit veniam. Adipisci aliquid amet, asperiores atque cumque delectus deleniti earum eligendi eos
        error, expedita explicabo iste laborum laudantium magni minus modi nihil officiis perspiciatis quaerat, quis
        soluta ut voluptatibus? Error et facere molestiae, nesciunt provident quis recusandae sequi sint vitae
        voluptatum. Ad aliquid aut cupiditate dignissimos doloremque id, impedit, ipsa minus molestias, nam nemo odio
        porro rerum sed vel voluptate voluptates voluptatum. Adipisci alias animi consequatur consequuntur dolor dolore
        dolores, dolorum explicabo id impedit labore maxime modi, non quis, recusandae saepe tempora tempore totam.
        Dolorum earum enim expedita, inventore laboriosam minus quidem recusandae sapiente totam unde. Deleniti,
        explicabo, iste!
    </div>
    <pre><code>start="bottom"</code></pre>
</div>
<div class="example">
    <div class="example__text" slimScroll opacity=".8">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet
        asperiores at atque beatae
        consectetur distinctio doloribus ducimus earum expedita facere fugiat incidunt iure, labore, maxime
        necessitatibus neque nihil nostrum odit quas quis recusandae rem sunt ut voluptatem voluptates. A at dicta eaque
        excepturi nesciunt provident qui, reiciendis. Ab accusantium, debitis, delectus impedit laboriosam maxime minima
        necessitatibus qui quibusdam repellat rerum saepe sapiente. Quibusdam, sequi vero. Aperiam, assumenda cumque
        debitis dolore earum fugiat id, iste, iure nostrum porro provident quaerat quas quibusdam quod repellendus
        reprehenderit sequi temporibus unde? Itaque mollitia, voluptatem! Aut cum eum fugit hic id maiores maxime nobis
        ratione suscipit veniam. Adipisci aliquid amet, asperiores atque cumque delectus deleniti earum eligendi eos
        error, expedita explicabo iste laborum laudantium magni minus modi nihil officiis perspiciatis quaerat, quis
        soluta ut voluptatibus? Error et facere molestiae, nesciunt provident quis recusandae sequi sint vitae
        voluptatum. Ad aliquid aut cupiditate dignissimos doloremque id, impedit, ipsa minus molestias, nam nemo odio
        porro rerum sed vel voluptate voluptates voluptatum. Adipisci alias animi consequatur consequuntur dolor dolore
        dolores, dolorum explicabo id impedit labore maxime modi, non quis, recusandae saepe tempora tempore totam.
        Dolorum earum enim expedita, inventore laboriosam minus quidem recusandae sapiente totam unde. Deleniti,
        explicabo, iste!
    </div>
    <pre><code>opacity=".8"</code></pre>
</div>
<div class="example">
    <div class="example__text" slimScroll transition=".8">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet
        asperiores at atque beatae
        consectetur distinctio doloribus ducimus earum expedita facere fugiat incidunt iure, labore, maxime
        necessitatibus neque nihil nostrum odit quas quis recusandae rem sunt ut voluptatem voluptates. A at dicta eaque
        excepturi nesciunt provident qui, reiciendis. Ab accusantium, debitis, delectus impedit laboriosam maxime minima
        necessitatibus qui quibusdam repellat rerum saepe sapiente. Quibusdam, sequi vero. Aperiam, assumenda cumque
        debitis dolore earum fugiat id, iste, iure nostrum porro provident quaerat quas quibusdam quod repellendus
        reprehenderit sequi temporibus unde? Itaque mollitia, voluptatem! Aut cum eum fugit hic id maiores maxime nobis
        ratione suscipit veniam. Adipisci aliquid amet, asperiores atque cumque delectus deleniti earum eligendi eos
        error, expedita explicabo iste laborum laudantium magni minus modi nihil officiis perspiciatis quaerat, quis
        soluta ut voluptatibus? Error et facere molestiae, nesciunt provident quis recusandae sequi sint vitae
        voluptatum. Ad aliquid aut cupiditate dignissimos doloremque id, impedit, ipsa minus molestias, nam nemo odio
        porro rerum sed vel voluptate voluptates voluptatum. Adipisci alias animi consequatur consequuntur dolor dolore
        dolores, dolorum explicabo id impedit labore maxime modi, non quis, recusandae saepe tempora tempore totam.
        Dolorum earum enim expedita, inventore laboriosam minus quidem recusandae sapiente totam unde. Deleniti,
        explicabo, iste!
    </div>
    <pre><code>transition=".8"</code></pre>
</div>
<div class="example">
    <div class="example__text" slimScroll alwaysVisible="true">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Amet asperiores at atque beatae
        consectetur distinctio doloribus ducimus earum expedita facere fugiat incidunt iure, labore, maxime
        necessitatibus neque nihil nostrum odit quas quis recusandae rem sunt ut voluptatem voluptates. A at dicta eaque
        excepturi nesciunt provident qui, reiciendis. Ab accusantium, debitis, delectus impedit laboriosam maxime minima
        necessitatibus qui quibusdam repellat rerum saepe sapiente. Quibusdam, sequi vero. Aperiam, assumenda cumque
        debitis dolore earum fugiat id, iste, iure nostrum porro provident quaerat quas quibusdam quod repellendus
        reprehenderit sequi temporibus unde? Itaque mollitia, voluptatem! Aut cum eum fugit hic id maiores maxime nobis
        ratione suscipit veniam. Adipisci aliquid amet, asperiores atque cumque delectus deleniti earum eligendi eos
        error, expedita explicabo iste laborum laudantium magni minus modi nihil officiis perspiciatis quaerat, quis
        soluta ut voluptatibus? Error et facere molestiae, nesciunt provident quis recusandae sequi sint vitae
        voluptatum. Ad aliquid aut cupiditate dignissimos doloremque id, impedit, ipsa minus molestias, nam nemo odio
        porro rerum sed vel voluptate voluptates voluptatum. Adipisci alias animi consequatur consequuntur dolor dolore
        dolores, dolorum explicabo id impedit labore maxime modi, non quis, recusandae saepe tempora tempore totam.
        Dolorum earum enim expedita, inventore laboriosam minus quidem recusandae sapiente totam unde. Deleniti,
        explicabo, iste!
    </div>
    <pre><code>alwaysVisible="true"</code></pre>
</div>
<div class="example">
    <div class="example__text" slimScroll disableFadeOut="true">Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Amet asperiores at atque beatae
        consectetur distinctio doloribus ducimus earum expedita facere fugiat incidunt iure, labore, maxime
        necessitatibus neque nihil nostrum odit quas quis recusandae rem sunt ut voluptatem voluptates. A at dicta eaque
        excepturi nesciunt provident qui, reiciendis. Ab accusantium, debitis, delectus impedit laboriosam maxime minima
        necessitatibus qui quibusdam repellat rerum saepe sapiente. Quibusdam, sequi vero. Aperiam, assumenda cumque
        debitis dolore earum fugiat id, iste, iure nostrum porro provident quaerat quas quibusdam quod repellendus
        reprehenderit sequi temporibus unde? Itaque mollitia, voluptatem! Aut cum eum fugit hic id maiores maxime nobis
        ratione suscipit veniam. Adipisci aliquid amet, asperiores atque cumque delectus deleniti earum eligendi eos
        error, expedita explicabo iste laborum laudantium magni minus modi nihil officiis perspiciatis quaerat, quis
        soluta ut voluptatibus? Error et facere molestiae, nesciunt provident quis recusandae sequi sint vitae
        voluptatum. Ad aliquid aut cupiditate dignissimos doloremque id, impedit, ipsa minus molestias, nam nemo odio
        porro rerum sed vel voluptate voluptates voluptatum. Adipisci alias animi consequatur consequuntur dolor dolore
        dolores, dolorum explicabo id impedit labore maxime modi, non quis, recusandae saepe tempora tempore totam.
        Dolorum earum enim expedita, inventore laboriosam minus quidem recusandae sapiente totam unde. Deleniti,
        explicabo, iste!
    </div>
    <pre><code>disableFadeOut="true"</code></pre>
</div>
<div class="example">
    <div class="example__text" slimScroll railVisible="true">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Amet asperiores at atque beatae
        consectetur distinctio doloribus ducimus earum expedita facere fugiat incidunt iure, labore, maxime
        necessitatibus neque nihil nostrum odit quas quis recusandae rem sunt ut voluptatem voluptates. A at dicta eaque
        excepturi nesciunt provident qui, reiciendis. Ab accusantium, debitis, delectus impedit laboriosam maxime minima
        necessitatibus qui quibusdam repellat rerum saepe sapiente. Quibusdam, sequi vero. Aperiam, assumenda cumque
        debitis dolore earum fugiat id, iste, iure nostrum porro provident quaerat quas quibusdam quod repellendus
        reprehenderit sequi temporibus unde? Itaque mollitia, voluptatem! Aut cum eum fugit hic id maiores maxime nobis
        ratione suscipit veniam. Adipisci aliquid amet, asperiores atque cumque delectus deleniti earum eligendi eos
        error, expedita explicabo iste laborum laudantium magni minus modi nihil officiis perspiciatis quaerat, quis
        soluta ut voluptatibus? Error et facere molestiae, nesciunt provident quis recusandae sequi sint vitae
        voluptatum. Ad aliquid aut cupiditate dignissimos doloremque id, impedit, ipsa minus molestias, nam nemo odio
        porro rerum sed vel voluptate voluptates voluptatum. Adipisci alias animi consequatur consequuntur dolor dolore
        dolores, dolorum explicabo id impedit labore maxime modi, non quis, recusandae saepe tempora tempore totam.
        Dolorum earum enim expedita, inventore laboriosam minus quidem recusandae sapiente totam unde. Deleniti,
        explicabo, iste!
    </div>
    <pre><code>railVisible="true"</code></pre>
</div>
<div class="example">
    <div class="example__text" slimScroll railColor="red" railVisible="true">Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Amet asperiores at atque beatae
        consectetur distinctio doloribus ducimus earum expedita facere fugiat incidunt iure, labore, maxime
        necessitatibus neque nihil nostrum odit quas quis recusandae rem sunt ut voluptatem voluptates. A at dicta eaque
        excepturi nesciunt provident qui, reiciendis. Ab accusantium, debitis, delectus impedit laboriosam maxime minima
        necessitatibus qui quibusdam repellat rerum saepe sapiente. Quibusdam, sequi vero. Aperiam, assumenda cumque
        debitis dolore earum fugiat id, iste, iure nostrum porro provident quaerat quas quibusdam quod repellendus
        reprehenderit sequi temporibus unde? Itaque mollitia, voluptatem! Aut cum eum fugit hic id maiores maxime nobis
        ratione suscipit veniam. Adipisci aliquid amet, asperiores atque cumque delectus deleniti earum eligendi eos
        error, expedita explicabo iste laborum laudantium magni minus modi nihil officiis perspiciatis quaerat, quis
        soluta ut voluptatibus? Error et facere molestiae, nesciunt provident quis recusandae sequi sint vitae
        voluptatum. Ad aliquid aut cupiditate dignissimos doloremque id, impedit, ipsa minus molestias, nam nemo odio
        porro rerum sed vel voluptate voluptates voluptatum. Adipisci alias animi consequatur consequuntur dolor dolore
        dolores, dolorum explicabo id impedit labore maxime modi, non quis, recusandae saepe tempora tempore totam.
        Dolorum earum enim expedita, inventore laboriosam minus quidem recusandae sapiente totam unde. Deleniti,
        explicabo, iste!
    </div>
    <pre><code>railColor="#f0f0f0"</code></pre>
</div>
<div class="example">
    <div class="example__text" slimScroll railClass="slim-scroll__rail">Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Amet asperiores at atque beatae
        consectetur distinctio doloribus ducimus earum expedita facere fugiat incidunt iure, labore, maxime
        necessitatibus neque nihil nostrum odit quas quis recusandae rem sunt ut voluptatem voluptates. A at dicta eaque
        excepturi nesciunt provident qui, reiciendis. Ab accusantium, debitis, delectus impedit laboriosam maxime minima
        necessitatibus qui quibusdam repellat rerum saepe sapiente. Quibusdam, sequi vero. Aperiam, assumenda cumque
        debitis dolore earum fugiat id, iste, iure nostrum porro provident quaerat quas quibusdam quod repellendus
        reprehenderit sequi temporibus unde? Itaque mollitia, voluptatem! Aut cum eum fugit hic id maiores maxime nobis
        ratione suscipit veniam. Adipisci aliquid amet, asperiores atque cumque delectus deleniti earum eligendi eos
        error, expedita explicabo iste laborum laudantium magni minus modi nihil officiis perspiciatis quaerat, quis
        soluta ut voluptatibus? Error et facere molestiae, nesciunt provident quis recusandae sequi sint vitae
        voluptatum. Ad aliquid aut cupiditate dignissimos doloremque id, impedit, ipsa minus molestias, nam nemo odio
        porro rerum sed vel voluptate voluptates voluptatum. Adipisci alias animi consequatur consequuntur dolor dolore
        dolores, dolorum explicabo id impedit labore maxime modi, non quis, recusandae saepe tempora tempore totam.
        Dolorum earum enim expedita, inventore laboriosam minus quidem recusandae sapiente totam unde. Deleniti,
        explicabo, iste!
    </div>
    <pre><code>railClass="slim-scroll__rail"</code></pre>
</div>
<div class="example">
    <div class="example__text" slimScroll barClass="slim-scroll__bar">Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Amet asperiores at atque beatae
        consectetur distinctio doloribus ducimus earum expedita facere fugiat incidunt iure, labore, maxime
        necessitatibus neque nihil nostrum odit quas quis recusandae rem sunt ut voluptatem voluptates. A at dicta eaque
        excepturi nesciunt provident qui, reiciendis. Ab accusantium, debitis, delectus impedit laboriosam maxime minima
        necessitatibus qui quibusdam repellat rerum saepe sapiente. Quibusdam, sequi vero. Aperiam, assumenda cumque
        debitis dolore earum fugiat id, iste, iure nostrum porro provident quaerat quas quibusdam quod repellendus
        reprehenderit sequi temporibus unde? Itaque mollitia, voluptatem! Aut cum eum fugit hic id maiores maxime nobis
        ratione suscipit veniam. Adipisci aliquid amet, asperiores atque cumque delectus deleniti earum eligendi eos
        error, expedita explicabo iste laborum laudantium magni minus modi nihil officiis perspiciatis quaerat, quis
        soluta ut voluptatibus? Error et facere molestiae, nesciunt provident quis recusandae sequi sint vitae
        voluptatum. Ad aliquid aut cupiditate dignissimos doloremque id, impedit, ipsa minus molestias, nam nemo odio
        porro rerum sed vel voluptate voluptates voluptatum. Adipisci alias animi consequatur consequuntur dolor dolore
        dolores, dolorum explicabo id impedit labore maxime modi, non quis, recusandae saepe tempora tempore totam.
        Dolorum earum enim expedita, inventore laboriosam minus quidem recusandae sapiente totam unde. Deleniti,
        explicabo, iste!
    </div>
    <pre><code>barClass="slim-scroll__bar"</code></pre>
</div>
<div class="example">
    <div class="example__text" slimScroll wrapperClass="slim-scroll__wrap">Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Amet asperiores at atque beatae
        consectetur distinctio doloribus ducimus earum expedita facere fugiat incidunt iure, labore, maxime
        necessitatibus neque nihil nostrum odit quas quis recusandae rem sunt ut voluptatem voluptates. A at dicta eaque
        excepturi nesciunt provident qui, reiciendis. Ab accusantium, debitis, delectus impedit laboriosam maxime minima
        necessitatibus qui quibusdam repellat rerum saepe sapiente. Quibusdam, sequi vero. Aperiam, assumenda cumque
        debitis dolore earum fugiat id, iste, iure nostrum porro provident quaerat quas quibusdam quod repellendus
        reprehenderit sequi temporibus unde? Itaque mollitia, voluptatem! Aut cum eum fugit hic id maiores maxime nobis
        ratione suscipit veniam. Adipisci aliquid amet, asperiores atque cumque delectus deleniti earum eligendi eos
        error, expedita explicabo iste laborum laudantium magni minus modi nihil officiis perspiciatis quaerat, quis
        soluta ut voluptatibus? Error et facere molestiae, nesciunt provident quis recusandae sequi sint vitae
        voluptatum. Ad aliquid aut cupiditate dignissimos doloremque id, impedit, ipsa minus molestias, nam nemo odio
        porro rerum sed vel voluptate voluptates voluptatum. Adipisci alias animi consequatur consequuntur dolor dolore
        dolores, dolorum explicabo id impedit labore maxime modi, non quis, recusandae saepe tempora tempore totam.
        Dolorum earum enim expedita, inventore laboriosam minus quidem recusandae sapiente totam unde. Deleniti,
        explicabo, iste!
    </div>
    <pre><code>wrapperClass="slim-scroll__wrap"</code></pre>
</div>
<div class="example">
    <div class="example__text" slimScroll allowPageScroll="true">Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Amet asperiores at atque beatae
        consectetur distinctio doloribus ducimus earum expedita facere fugiat incidunt iure, labore, maxime
        necessitatibus neque nihil nostrum odit quas quis recusandae rem sunt ut voluptatem voluptates. A at dicta eaque
        excepturi nesciunt provident qui, reiciendis. Ab accusantium, debitis, delectus impedit laboriosam maxime minima
        necessitatibus qui quibusdam repellat rerum saepe sapiente. Quibusdam, sequi vero. Aperiam, assumenda cumque
        debitis dolore earum fugiat id, iste, iure nostrum porro provident quaerat quas quibusdam quod repellendus
        reprehenderit sequi temporibus unde? Itaque mollitia, voluptatem! Aut cum eum fugit hic id maiores maxime nobis
        ratione suscipit veniam. Adipisci aliquid amet, asperiores atque cumque delectus deleniti earum eligendi eos
        error, expedita explicabo iste laborum laudantium magni minus modi nihil officiis perspiciatis quaerat, quis
        soluta ut voluptatibus? Error et facere molestiae, nesciunt provident quis recusandae sequi sint vitae
        voluptatum. Ad aliquid aut cupiditate dignissimos doloremque id, impedit, ipsa minus molestias, nam nemo odio
        porro rerum sed vel voluptate voluptates voluptatum. Adipisci alias animi consequatur consequuntur dolor dolore
        dolores, dolorum explicabo id impedit labore maxime modi, non quis, recusandae saepe tempora tempore totam.
        Dolorum earum enim expedita, inventore laboriosam minus quidem recusandae sapiente totam unde. Deleniti,
        explicabo, iste!
    </div>
    <pre><code>allowPageScroll="true"</code></pre>
</div>
<div class="example">
    <div class="example__text" slimScroll wheelStep="100">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet
        asperiores at atque beatae
        consectetur distinctio doloribus ducimus earum expedita facere fugiat incidunt iure, labore, maxime
        necessitatibus neque nihil nostrum odit quas quis recusandae rem sunt ut voluptatem voluptates. A at dicta eaque
        excepturi nesciunt provident qui, reiciendis. Ab accusantium, debitis, delectus impedit laboriosam maxime minima
        necessitatibus qui quibusdam repellat rerum saepe sapiente. Quibusdam, sequi vero. Aperiam, assumenda cumque
        debitis dolore earum fugiat id, iste, iure nostrum porro provident quaerat quas quibusdam quod repellendus
        reprehenderit sequi temporibus unde? Itaque mollitia, voluptatem! Aut cum eum fugit hic id maiores maxime nobis
        ratione suscipit veniam. Adipisci aliquid amet, asperiores atque cumque delectus deleniti earum eligendi eos
        error, expedita explicabo iste laborum laudantium magni minus modi nihil officiis perspiciatis quaerat, quis
        soluta ut voluptatibus? Error et facere molestiae, nesciunt provident quis recusandae sequi sint vitae
        voluptatum. Ad aliquid aut cupiditate dignissimos doloremque id, impedit, ipsa minus molestias, nam nemo odio
        porro rerum sed vel voluptate voluptates voluptatum. Adipisci alias animi consequatur consequuntur dolor dolore
        dolores, dolorum explicabo id impedit labore maxime modi, non quis, recusandae saepe tempora tempore totam.
        Dolorum earum enim expedita, inventore laboriosam minus quidem recusandae sapiente totam unde. Deleniti,
        explicabo, iste!
    </div>
    <pre><code>wheelStep="40"</code></pre>
</div>
<div class="example">
    <div class="example__text" slimScroll touchScrollStep="100">Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Amet asperiores at atque beatae
        consectetur distinctio doloribus ducimus earum expedita facere fugiat incidunt iure, labore, maxime
        necessitatibus neque nihil nostrum odit quas quis recusandae rem sunt ut voluptatem voluptates. A at dicta eaque
        excepturi nesciunt provident qui, reiciendis. Ab accusantium, debitis, delectus impedit laboriosam maxime minima
        necessitatibus qui quibusdam repellat rerum saepe sapiente. Quibusdam, sequi vero. Aperiam, assumenda cumque
        debitis dolore earum fugiat id, iste, iure nostrum porro provident quaerat quas quibusdam quod repellendus
        reprehenderit sequi temporibus unde? Itaque mollitia, voluptatem! Aut cum eum fugit hic id maiores maxime nobis
        ratione suscipit veniam. Adipisci aliquid amet, asperiores atque cumque delectus deleniti earum eligendi eos
        error, expedita explicabo iste laborum laudantium magni minus modi nihil officiis perspiciatis quaerat, quis
        soluta ut voluptatibus? Error et facere molestiae, nesciunt provident quis recusandae sequi sint vitae
        voluptatum. Ad aliquid aut cupiditate dignissimos doloremque id, impedit, ipsa minus molestias, nam nemo odio
        porro rerum sed vel voluptate voluptates voluptatum. Adipisci alias animi consequatur consequuntur dolor dolore
        dolores, dolorum explicabo id impedit labore maxime modi, non quis, recusandae saepe tempora tempore totam.
        Dolorum earum enim expedita, inventore laboriosam minus quidem recusandae sapiente totam unde. Deleniti,
        explicabo, iste!
    </div>
    <pre><code>touchScrollStep="100"</code></pre>
</div>
<div class="example">
    <div class="example__text" slimScroll borderRadius="2px" touchScrollStep="400">Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Amet asperiores at atque beatae
        consectetur distinctio doloribus ducimus earum expedita facere fugiat incidunt iure, labore, maxime
        necessitatibus neque nihil nostrum odit quas quis recusandae rem sunt ut voluptatem voluptates. A at dicta eaque
        excepturi nesciunt provident qui, reiciendis. Ab accusantium, debitis, delectus impedit laboriosam maxime minima
        necessitatibus qui quibusdam repellat rerum saepe sapiente. Quibusdam, sequi vero. Aperiam, assumenda cumque
        debitis dolore earum fugiat id, iste, iure nostrum porro provident quaerat quas quibusdam quod repellendus
        reprehenderit sequi temporibus unde? Itaque mollitia, voluptatem! Aut cum eum fugit hic id maiores maxime nobis
        ratione suscipit veniam. Adipisci aliquid amet, asperiores atque cumque delectus deleniti earum eligendi eos
        error, expedita explicabo iste laborum laudantium magni minus modi nihil officiis perspiciatis quaerat, quis
        soluta ut voluptatibus? Error et facere molestiae, nesciunt provident quis recusandae sequi sint vitae
        voluptatum. Ad aliquid aut cupiditate dignissimos doloremque id, impedit, ipsa minus molestias, nam nemo odio
        porro rerum sed vel voluptate voluptates voluptatum. Adipisci alias animi consequatur consequuntur dolor dolore
        dolores, dolorum explicabo id impedit labore maxime modi, non quis, recusandae saepe tempora tempore totam.
        Dolorum earum enim expedita, inventore laboriosam minus quidem recusandae sapiente totam unde. Deleniti,
        explicabo, iste!
    </div>
    <pre><code>borderRadius="2px"</code></pre>
</div>
<div class="example">
    <div class="example__text" slimScroll railBorderRadius="2px" railVisible="true">Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Amet asperiores at atque beatae
        consectetur distinctio doloribus ducimus earum expedita facere fugiat incidunt iure, labore, maxime
        necessitatibus neque nihil nostrum odit quas quis recusandae rem sunt ut voluptatem voluptates. A at dicta eaque
        excepturi nesciunt provident qui, reiciendis. Ab accusantium, debitis, delectus impedit laboriosam maxime minima
        necessitatibus qui quibusdam repellat rerum saepe sapiente. Quibusdam, sequi vero. Aperiam, assumenda cumque
        debitis dolore earum fugiat id, iste, iure nostrum porro provident quaerat quas quibusdam quod repellendus
        reprehenderit sequi temporibus unde? Itaque mollitia, voluptatem! Aut cum eum fugit hic id maiores maxime nobis
        ratione suscipit veniam. Adipisci aliquid amet, asperiores atque cumque delectus deleniti earum eligendi eos
        error, expedita explicabo iste laborum laudantium magni minus modi nihil officiis perspiciatis quaerat, quis
        soluta ut voluptatibus? Error et facere molestiae, nesciunt provident quis recusandae sequi sint vitae
        voluptatum. Ad aliquid aut cupiditate dignissimos doloremque id, impedit, ipsa minus molestias, nam nemo odio
        porro rerum sed vel voluptate voluptates voluptatum. Adipisci alias animi consequatur consequuntur dolor dolore
        dolores, dolorum explicabo id impedit labore maxime modi, non quis, recusandae saepe tempora tempore totam.
        Dolorum earum enim expedita, inventore laboriosam minus quidem recusandae sapiente totam unde. Deleniti,
        explicabo, iste!
    </div>
    <pre><code>railBorderRadius="2px"</code></pre>
</div>
<div class="example">
    <div class="example__text" slimScroll scrollTo="100">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet
        asperiores at atque beatae
        consectetur distinctio doloribus ducimus earum expedita facere fugiat incidunt iure, labore, maxime
        necessitatibus neque nihil nostrum odit quas quis recusandae rem sunt ut voluptatem voluptates. A at dicta eaque
        excepturi nesciunt provident qui, reiciendis. Ab accusantium, debitis, delectus impedit laboriosam maxime minima
        necessitatibus qui quibusdam repellat rerum saepe sapiente. Quibusdam, sequi vero. Aperiam, assumenda cumque
        debitis dolore earum fugiat id, iste, iure nostrum porro provident quaerat quas quibusdam quod repellendus
        reprehenderit sequi temporibus unde? Itaque mollitia, voluptatem! Aut cum eum fugit hic id maiores maxime nobis
        ratione suscipit veniam. Adipisci aliquid amet, asperiores atque cumque delectus deleniti earum eligendi eos
        error, expedita explicabo iste laborum laudantium magni minus modi nihil officiis perspiciatis quaerat, quis
        soluta ut voluptatibus? Error et facere molestiae, nesciunt provident quis recusandae sequi sint vitae
        voluptatum. Ad aliquid aut cupiditate dignissimos doloremque id, impedit, ipsa minus molestias, nam nemo odio
        porro rerum sed vel voluptate voluptates voluptatum. Adipisci alias animi consequatur consequuntur dolor dolore
        dolores, dolorum explicabo id impedit labore maxime modi, non quis, recusandae saepe tempora tempore totam.
        Dolorum earum enim expedita, inventore laboriosam minus quidem recusandae sapiente totam unde. Deleniti,
        explicabo, iste!
    </div>
    <pre><code>scrollTo="100"</code></pre>
</div>
<div class="example">
    <div class="example__text" slimScroll railVisible="true" [autoScrollToBottom]="true">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet
        asperiores at atque beatae
        consectetur distinctio doloribus ducimus earum expedita facere fugiat incidunt iure, labore, maxime
        necessitatibus neque nihil nostrum odit quas quis recusandae rem sunt ut voluptatem voluptates. A at dicta eaque
        excepturi nesciunt provident qui, reiciendis. Ab accusantium, debitis, delectus impedit laboriosam maxime minima
        necessitatibus qui quibusdam repellat rerum saepe sapiente. Quibusdam, sequi vero. Aperiam, assumenda cumque
        debitis dolore earum fugiat id, iste, iure nostrum porro provident quaerat quas quibusdam quod repellendus
        reprehenderit sequi temporibus unde? Itaque mollitia, voluptatem! Aut cum eum fugit hic id maiores maxime nobis
        ratione suscipit veniam. Adipisci aliquid amet, asperiores atque cumque delectus deleniti earum eligendi eos
        error, expedita explicabo iste laborum laudantium magni minus modi nihil officiis perspiciatis quaerat, quis
        soluta ut voluptatibus? Error et facere molestiae, nesciunt provident quis recusandae sequi sint vitae
        voluptatum. Ad aliquid aut cupiditate dignissimos doloremque id, impedit, ipsa minus molestias, nam nemo odio
        porro rerum sed vel voluptate voluptates voluptatum. Adipisci alias animi consequatur consequuntur dolor dolore
        dolores, dolorum explicabo id impedit labore maxime modi, non quis, recusandae saepe tempora tempore totam.
        Dolorum earum enim expedita, inventore laboriosam minus quidem recusandae sapiente totam unde. Deleniti,
        explicabo, iste!
    </div>
    <pre><code>[autoScrollToBottom]="true"</code></pre>
</div>